<h2>WELCOME ADMIN</h2>
<form action="/api/products" method="post">
Nombre: <input type="text" name="nombre" id="nombre">
precio: <input type="number" name="precio" id="precio">
alto: <input type="number" name="alto" id="alto">
ancho: <input type="number" name="ancho" id="ancho">
largo: <input type="text" name="largo" id="largo">
Stock: <input type="number" name="stock" id="stock">
<input type="submit" value="ENTER">
</form>
<form action="/api/products" method="get">
<input type="submit" value="Obtener Productos">
   <h3>Product List</h3>
    <ul>
        <!-- Mostrar la lista de productos utilizando Handlebars -->
        {{#each productos}}
            <li>Nombre:{{nombre}} - Precio: {{precio}} - Stock: {{stock}}</li>
        {{/each}}
    </ul>
</form>